*.aux
*.bbl
*.blg
*.log
*.DS_Store
*.out
*backup*
*.pdf
.idea
*.synctex.gz
*.fdb_latexmk
*.fls
*.vsdx
*.zip
*.ps
*.cls
*.doc
*.eps
*.enl
/data/
vldb_style_sample/
reference.Data/
reference/
